<div class="container">
  <div class="info">
    <div class="title">
      <h2><%= @cocktail.name  %></h2>
    </div>
    <%= link_to "delete cocktail", cocktail_path(@cocktail), method: :delete %>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">steps</th>
          <th scope="col">Ingredient</th>
          <th scope="col">Amount</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody>
        <% @cocktail.doses.each do |dose|  %>
          <tr>
            <th scope="row">•</th>
            <td><%= dose.ingredient.name %></td>
            <td><%= dose.description %></td>
            <td><%= link_to 'delete dose', dose_path(dose), method: :delete %></td>
          </tr>
        <% end  %>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between">
    <div class="form ingr_dosage">
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    </div>

    <div class="cocktail_img">
      <%= cl_image_tag @cocktail.photo.key, height: 315, width: 400, crop: :fill  %>
    </div>
  </div>

</div>



