<div class="form">
  <h3>Add ingredients and their dosage to your cocktail! </h3>

  <%= simple_form_for [@cocktail, @dose] do |cd| %>
    <%= cd.association :ingredient %>
    <%= cd.input :description %>
    <div class="d-flex">
      <%= cd.button :submit, 'add dose', class: "btn btn-primary"  %>
  <% end %>
      <%= link_to 'back', cocktails_path, class: "btn btn-primary" %>
    </div>
</div>


